:root {
    background: #F1F8FF;
    color: #1F2F3F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */

header {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 110px;
    height: auto;
    margin-right: 300px;
}

header a {
    text-decoration: none;
    color: #1F2F3F;
}

header a:hover {
    color: #f24150;
}

nav li {
    font-size: 16px;
    font-weight: 500;
    display: inline;
    padding: 0px 30px 0px 30px;
    list-style: none;
}

.container {
    max-width: 1230px;
    margin: auto auto;
}

/* intro */

.intro {
    display: flex;
    justify-content: space-between;
}

.introText {
    max-width: 45%;
}

.introImg {
    max-width: 45%;
    display: flex;
    justify-content: right;
}

.imgHome {
    max-width: 100%;
}

.introText h1 {
    font-size: 46px;
    font-weight: 600;
    line-height: 50px;
    padding: 0px 0px 30px;
}

.introText p {
    width: 80%;
    font-size: 15px;
    line-height: 1.5em;
    margin: 0px 0px 50px 0px;
}

.conversar {
    background: #f24150;
    color: white;
    border-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 0px 15px 15px 0px;
    font-weight: 500;
    width: 230px;
    height: 50px;
}

.conversar:hover {
    background: white;
    color: black;
    transition: 0.5s;
}

.conheca {
    background: #1F2F3F;
    color: white;
    border-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 15px 15px 0px;
    width: 230px;
    height: 50px;
}

.conheca:hover {
    background: white;
    color: black;
    transition: 0.5s;
}

.carousel {
    padding: 0px 150px 0px 150px;
}

.carousel img {
    align-items: center;
    padding: 20px;
    height: auto;
    max-width: 100%;
}

h4 {
    text-align: center;
    font-weight: 400;
    padding: 0px 0px 100px;
}

/* materials */

#section-materials {
    background: white;
}

.materials {
    font-size: 42px;
    font-weight: 600;
    padding: 60px 20px 60px 80px ;
    display: flex;
    align-items: center;
}

.materials a {
    color: #f24150;
    font-size: 15px;
    font-weight: 400;
    padding: 20px 0px 0px 50px;
    text-decoration: none;
}

.carousel2 {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0px 0px 100px;
}

.carousel2-item {
    max-width: 32%;
}

.carousel2-item img {
    width: 100%;
    height: 100%;
}

.carousel2-item:hover {
    background: #f24150;
    transition: 1s;
}

/* optimize */

.optimize {
    background: #1F2F3F;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.optimize-text {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: -0.7px;
    padding: 80px;
    width: 45%;
}

.optimize-graphic {
    display: flex;
    justify-content: space-between;
}

.optimize-graphic img {
    width: 60%;
    height: auto;
}

.optimize-graphic h2 {
    color: #f24150;
    font-size: 130px;
    font-weight: 700;
    text-align: center;
    margin: auto auto;
}

.optimize-graphic p {
    text-align: center;
    padding: 15px 120px 0 120px;
}

.media {
    display: flex;
    padding: 50px 80px;
    justify-content: space-between;
}

.media h2 {
    width: 40%;
    font-size: 24px;
}

.services-text {
    padding: 30px 80px;
    width: 70%;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.2em;
}

.services-links {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 100px 30px;
}

.services-links div {
    width: 22%;
    background: #f24150;
    padding: 60px 50px;
    background-repeat: no-repeat;
    background-position-x: right;
    box-shadow: 0px 0px 23px 4px rgb(0 0 0 / 23%);
}

.services-links .services-links-descubra {
    background-image: url("../images/backgrounds/background-card-descubra.webp");
}

.services-links .services-links-construa {
    background-image: url("../images/backgrounds/background-card-construa.webp");
}

.services-links .services-links-inove {
    background-image: url("../images/backgrounds/background-card-inove.webp");
}

.services-links h1 {
    color: #1F2F3F;
    font-family: "Space Grotesk", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.1em;
}

.services-links p {
    font-family: "Space Grotesk", Sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.6em;
    padding: 30px 0px;
}

.services-links button {
    background: #1F2F3F;
    color: white;
    width: 100%;
    height: 40px;
    font-family: "Space Grotesk", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    border-style: none;
}

/* tecnology */

.tecnology {
    display: flex;
    padding: 60px;
}

.tecnology-flip {
    width: 55%;
}

.tecnology-flip img {
    width: 30%;
    height: auto;
    padding: 50px;
}

.adobe {
    background: #ff9100;
}

.google {
    background: #068be3;
}

.meta {
    background: #54595F;
}

.vtex {
    background: rgb(238, 44, 92);
}

.tecnology-text {
    width: 45%;
    padding: 0px 0px 0px 80px;
}

.tecnology-text h1 {
    font-family: "Space Grotesk", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: -0.7px;
}

.tecnology-text p {
    font-family: "Space Grotesk", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    padding: 30px 0px;
}

/* badges */

.carousel3 {
    width: 100%;
    height: auto;
}

/* footer */

